/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  /* --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: rgb(83, 89, 69); */
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
  --primaryColor: #2a7e90;
  --secondaryColor: #165120;
  --tertiaryColor: #031138;
  --quaternaryColor: #013c40;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.content {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15rem;
  border: 1rem solid blue;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.content::before {
  content: '';
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  border: 1rem solid indigo;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.content::after {
  content: '';
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border: 1rem solid violet;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-radius: 50%;
  animation: animate 3s linear infinite;
}

.content2 {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  border: 1rem solid green;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.content2::before {
  content: '';
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  border: 1rem solid yellow;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.content2::after {
  content: '';
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 30rem;
  border: 1rem solid orange;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.content3::after {
  content: '';
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
  border: 1rem solid red;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}